<div *ngIf="questions.length > 0">
    <div class="question-container" *ngFor="let question_obj of questions">

        <label id="example-radio-group-label">{{question_obj.question}}</label>

        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="selectedData[question_obj.id]">
            <mat-radio-button (click)="questionAnswered(question_obj, value)" class="example-radio-button"
                *ngFor="let value of question_obj.options" [value]="value">
                {{value}}
            </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="selectedData[question_obj.id] == ''" class="answer answer__incomplete">
            <mat-icon aria-hidden="false" aria-label="Check Icon">help_outline</mat-icon>
        </div>

        <div *ngIf="selectedData[question_obj.id] == question_obj.answer" class="answer answer__correct">
            <mat-icon aria-hidden="false" aria-label="Check Icon">check_outline</mat-icon>
        </div>

        <div *ngIf="selectedData[question_obj.id] != question_obj.answer && selectedData[question_obj.id] != ''"
            class="answer answer__wrong">
            <mat-icon aria-hidden="false" aria-label="Clear Icon">clear_outline</mat-icon>
        </div>
    </div>
</div>
<div *ngIf="questions.length <= 0">
    <app-under-construction></app-under-construction>
</div>