<app-page-header text="History"></app-page-header>

<div class="content" fxLayout="row wrap">
    <h3>What is Accssibility?</h3>
    <p>
        In modern life the web has become much more than a convenient tool or a collection of nice to have features, it
        has become an everyday essential part of life. Maybe your work email comes to your phone, or you stream the
        latest news, pay your bills online, or use apple maps to get from you home to the grocery store, you are in fact
        using the web. This is why is has become imperative to make sure that the web is usable by all individuals, even
        those suffering from various disabilities. It is our responsibility as designers and developers to ensure that
        the web is inclusive to everyone.
    </p>

    <div class="w3-content">
        <i>
            <p>
                *The following content is taken from <a
                    href="https://www.w3.org/WAI/fundamentals/accessibility-intro/">Web
                    Accessibility Initative</a>
            </p>
        </i>
        <p>
            Web accessibility means that websites, tools, and technologies are designed and developed so that people
            with disabilities can use them. More specifically, people can:
        </p>
        <ul>
            <li>perceive, understand, navigate, and interact with the Web</li>
            <li>contribute to the Web</li>
        </ul>
        <p>
            Web accessibility encompasses all disabilities that affect access to the Web, including:
        </p>
        <ul>
            <li>auditory</li>
            <li>cognitive</li>
            <li>neurological</li>
            <li>physical</li>
            <li>speech</li>
            <li>visual</li>
        </ul>
        <p>
            Web accessibility also benefits people without disabilities, for example:
        </p>
        <ul>
            <li>people using mobile phones, smart watches, smart TVs, and other devices with small screens, different
                input modes, etc.</li>
            <li>older people with changing abilities due to ageing</li>
            <li>people with “temporary disabilities” such as a broken arm or lost glasses</li>
            <li>people with “situational limitations” such as in bright sunlight or in an environment where they cannot
                listen to audio</li>
            <li>people using a slow Internet connection, or who have limited or expensive bandwidth</li>
        </ul>
    </div>
    <h3>Who sets Accessibility Standards?</h3>
    <p>
        There are a couple sets of standards when it comes to web accessible guidelines, but the most notable guidelines
        are the <a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0 Standards</a> Which were release in 2008. They are
        internationally recognized as a gold standard for making web application accessible to the widest range of users
        and disabilities.
    </p>
    <p>
        These standards are created and maintained by <a href="https://www.w3.org/">World Wide Web Consortium (W3C)</a>
        which is an international organization designed to help design web application standards.
    </p>
    <h3>Accessibility Principles</h3>
    <h4>Perceivable Information and User Interface</h4>
    <ul>
        <li>Provide alternative text for non-text bases assets</li>
        <li>Provide captions for audio-based content</li>
        <li>Provide easily distinguishable content</li>
        <li>Provide content that can always be seen and heard</li>
    </ul>
    <h4>Operable User and Navigation</h4>
    <ul>
        <li>Provide functionality that is available from keyboard</li>
        <li>Provide sufficient time for all users to interact</li>
        <li>Provide easy and understandable ways to navigate</li>
        <li>Provide abilities for users to input and interact without a keyboard</li>
    </ul>
    <h4>Understandable Information and User Interface</h4>
    <ul>
        <li>Provide text that is readable and understandable</li>
        <li>Provide content that operates predictably</li>
        <li>Provide proper feedback to users to correct errors</li>
    </ul>
    <h4>Robust Content and Reliable Interpretation</h4>
    <ul>
        <li>Provide assets that are compatible with current and future technologies</li>
    </ul>
    <h3>How can I learn more?</h3>
    <button mat-raised-button color="basic" routerLink="/resources">Go To Resources</button>
    <button mat-raised-button color="basic" routerLink="/lesson/0">Go To Lessons</button>
</div>