@import '../../scss/base.scss';

.mat-stepper-horizontal {
    width: 100%;
    background: transparent;
    color: $color__gvsu_white;

    .section-container{
        color: $color__gvsu_black;
        height: 600px;
        overflow:auto;
        background: $color__gvsu_white;
        border-radius: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    ::ng-deep .mat-step-header .mat-step-icon-selected {
        background-color: $color__gvsu_white;
        color: $color__gvsu_black;
     }

    ::ng-deep .mat-step-header .mat-step-label {
    color: $color__gvsu_white;
    }

    ::ng-deep .md-button.md-raised.md-primary.formPage:not(.disabledclassname) {
        color: #FFFFFF;
        background-color:#008cba;
    }

    .previous-btn{
        margin: 10px;
        background: $color__gvsu_white;
        color: $color__gvsu_black;
        padding: 20px;
    }

    .next-btn-active{
        margin: 10px;
        padding: 20px;
        background-color: black;
    }

    .next-btn-disabled{
        margin: 10px;
        padding: 20px;
        background-color: gray;
        color: lightgray;
    }
}

.mat-form-field {
    margin-top: 16px;

    
}