<div *ngIf="questions">
    <div *ngIf="questions && questions.length > 0" class="pyro">
        <div class="before"></div>
        <div class="certificate-container">
            <div clas="certificate">
                <span style="font-size:50px; font-weight:bold">Congratulations</span><br><br>
                <span style="font-size:25px"><i>You have completed the following course:</i></span><br><br>
                <span style="font-size:30px"><b>{{courseTitle}}</b></span><br /><br />
            </div>
        </div>
        <div class="after"></div>
    </div>
    <div *ngIf="questions && questions.length <= 0">
        <app-under-construction></app-under-construction>
    </div>
</div>