@import '../../../../scss/base.scss';


.reading-container{ 

    padding: 10px;
}

.nav-img-example{
    width: 60%;
    border: 1px solid black;
    height: 100px;
}

.user-feedback-image {
    width: 45%;
    height: auto;

    &__left {
        float: left;
    }

    &right {
        float: right;
    }
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.link {
    color: #0000EE;
    text-decoration: underline;
}

.btn {

    background-color: grey;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    color: white;

    &__default {
        cursor: default;
    }

    &__grab {
        cursor: -webkit-grab;
        cursor: grab;
    }

    &__move {
        cursor: move;
    }

    &__no-drop {
        cursor: no-drop;
    }
}

pre {
    background-color: $color__gvsu_light_grey;
    border: 1px solid #999;
    border-left: 5px solid $color__gvsu_blue;
    display: block;
    padding: 20px;
    overflow: auto;
}